// Needed if messing with adding custom variables
// @import "~bootstrap/scss/functions";

$primary: #54c44e;
$secondary: #adffed;
$success: #ffffff;
$info: #004311;
$warning: #40500f;
$danger: #ebebeb;
$light: #d0ffa7;
$dark: #0a3314;

@import "~bootstrap/scss/bootstrap";

// Hack to get the header navbar dropdowns looking proper
[id^="nav-dropdown"] {
  color: $primary;
  font-size: large;
}
.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active,
.nav-link:hover,
.nav-link:focus {
  color: $primary;
}

@font-face {
  font-family: "myfont open-sans";
  src: url("../data/custfont1.ttf") format("truetype"), url("../data/custfont1.woff") format("woff"),
    url("../data/custfont1.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myfont2";
  src: url("../data/custfont2.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "myfont3";
  src: url("../data/custfont3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myfont4";
  src: url("../data/custfont4.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myfont5";
  src: url("../data/custfont5.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  size-adjust: 120%;
}
